@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    margin: 0;
	padding: 0;
}

body {
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar 
{
    width: 0px;
}



/* HEADER */



header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.logo--img
{
    width: auto;
    height: auto;
}
.logo--block
{
    width: 70vh;
    height: 35vh;
}
.btnHeader--block
{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.btn--header
{
    color: rgb(246, 246, 246);
    border: rgb(50, 0, 90) solid 2px;
    background-color: rgb(115, 0, 255);
    width: 20vh;
    height: 4vh;
    outline: none;
    font-size: 0.9em;
    transition: 0.3s;
}
.btn--header:hover , .avt:hover
{
    color: rgb(115, 0, 255);
    background-color: white;
    border-color: rgb(115, 0, 255);
}
.avt
{
    color: rgb(246, 246, 246);
    border:rgb(50, 0, 90) solid 3px;
    background-color: rgb(115, 0, 255);
    height: 4vh;
    font-size: 1.3em;
    border-radius: 1vh;
    transition: 0.3s;
}

.btn--headerFirst
{
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
}
.btn--headerLast
{
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
}



/* РЕГИСТРАЦИЯ */



.SignIn--SignUp
{
    font-size: 2vh;
    cursor: pointer;
}
.SignIn--SignUp:hover
{
    color: rgb(115, 0, 255);
}
.container--flex
{
    margin: 1% 0 2% 0;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline--sign {
    font-weight: bold;
    margin: 0;
}

.sign--text {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

.sign--dopText {
    font-size: 12px;
}

.btn--a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-container input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.ghost {
    border-radius: 20px;
    border: 1px solid rgb(50, 0, 90);
    background: rgb(50, 0, 90);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #fff;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: rgb(115, 0, 255);
    background: linear-gradient(to right, rgb(115, 0, 255), rgb(115, 0, 255)) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateY(0);
}

.overlay-left {
    transform: translateY(-20%);
}


.container.right-panel-active .sign-in-container {
    transform: translateY(100%);
}


.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}


.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}


.container.right-panel-active .overlay {
    transform: translateX(50%);
}


.container.right-panel-active .overlay-left {
    transform: translateY(0);
}


.container.right-panel-active .overlay-right {
    transform: translateY(20%);
}



/* FOOTER */



.footer {
    flex: 0 0 auto;
    border-radius: 15px;
    display: flex;
    background: linear-gradient(100deg, rgb(115, 0, 255) 45%, rgb(50, 0, 90) 55%);
    justify-content: space-evenly;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-right {
    display: flex;
}

.bestChPic {
    width: 225px;
    margin: 10px;
}

.footer-txt {
    margin: 5px;
}

.logo {
    margin: 10px 10px;
    width: 40px;
}

.footer-right_links a {
    text-decoration: none;
    color: rgb(235, 226, 226);
    margin-right: 300px;
    font-size: 18px;
}

.footer-right_links a:hover {
    color: rgb(188, 179, 179);
    transition: .3s;
    text-decoration: underline;
}

.footer-right_links {
    margin: 10px;
}



/* CHAT */



    .open-button {
      background-color: rgb(115, 0, 255);
      color: rgb(14, 1, 1);
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
    }
    .chat-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
    .form--container {
      max-width: 300px;
      padding: 10px;
      background-color: rgb(115, 0, 255);
    }
    .form--container textarea {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
      resize: none;
      min-height: 200px;
    }
    .form--container textarea:focus {
      background-color: #ddd;
      outline: none;
    }
    .form--container .btn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }
    .form--container .cancel {
      background-color: red;
    }
    .form--container .btn:hover, .open-button:hover {
      opacity: 1;
    }