@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body
{
    background-color: rgb(115, 200, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header
{
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.logo--img
{
    width: 200px;
    height: 260px;
}
.logo--block
{
    font-size: 2em;
    font-weight: bolder;
}
.btnHeader--block
{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.btn--header
{
    color: rgb(246, 246, 246);
    border: rgb(50, 0, 90) solid 2px;
    background-color: rgb(115, 0, 255);
    width: 20vh;
    height: 4vh;
    outline: none;
    font-size: 0.9em;
}
.avt
{
    color: rgb(246, 246, 246);
    border:rgb(50, 0, 90) solid 3px;
    background-color: rgb(115, 0, 255);
    height: 4vh;
    font-size: 1.3em;
    border-radius: 1vh;
}

.btn--headerFirst
{
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
}
.btn--headerLast
{
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
}

::-webkit-scrollbar 
{
    width: 0px;
}
/*body
{
    background: #F7F6F6;
    padding-right: 400px;
    padding-left: 400px;
    height: 150vh;
}*/
.lc, .moi
{
    color: #48423B;
    font-weight: bold;
}
.zagolovok-lc
{
    padding-top: 25px;
    padding-bottom: 25px;
}
.lc
{
    font-size: 2em;
}
.moi
{
    width: 10%;
    padding: 40px;
    font-size: 1.5em;
}
.zayvki
{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.zayvki--block
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.zayvki--moi
{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    border-radius: 50px;
    align-items: center;
    height: 40vh;
}
.zayvki--info
{
    display: flex;
    padding-bottom: 0.5em;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.info--zayvok
{
    font-size: 0.9em;
    color: #888;
}
.zayvki--nav
{
    width: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    background-color: white;
    border-radius: 5%;
}
.btn
{
    color: black;
    font-weight: bolder;
    font-size: 1em;
    text-decoration: none;
}
.nav--btn
{
    padding: 5px;
}
.block--line
{
    width: 100%;
    border-bottom: #888 solid 1px;
}
.zayvki--sami
{
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
}
.zayvki--text
{
    font-size: 0.8em;
    color: #888
}
.creat--btn
{
    width: 150px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    color: white;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(115, 0, 255);
}
.creat--btn:hover
{
    background-color: rgb(50, 0, 90);
}


* {box-sizing: border-box;}
    .open-button {
      background-color: rgb(115, 0, 255);
      color: rgb(14, 1, 1);
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
    }
    .chat-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: rgb(115, 0, 255);
    }
    .form-container textarea {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
      resize: none;
      min-height: 200px;
    }
    .form-container textarea:focus {
      background-color: #ddd;
      outline: none;
    }
    .form-container .btn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }
    .form-container .cancel {
      background-color: red;
    }
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }