@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}
.logo--block
{
    font-size: 2em;
    font-weight: bolder;
}
.btnHeader--block
{
    display: flex;
    justify-content: space-around;
    width: 25%;
}
.btn--header, .avt
{
    border: none;
    outline: none;
}
.avt
{
    font-size: 1em;
}


*
{
    margin: 0;
    padding: 0;
}
body
{
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    background-color: rgb(240, 235, 235);
    font-family: Calibri;
}
.page_name
{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-right: 918px;

    font-size: 27px;
    color: #BE3455;
    text-transform: capitalize;
}
#news_block
{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 400px;
    margin-right: 450px;
}
.news
{
    display: flex;
    flex-direction: row;
    margin: 5px;    
}
.date
{
    padding: 30px;
    padding-top: 35px;
    padding-left: 38px;
    padding-bottom: 30px;
    background-color: #BE3455;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 15%;

    color: white;
    border: 1px solid #BE3455;
    font-size: 18px;
}
.content
{
    padding: 20px;
    padding-bottom: 30px;
    background-color: white;

    font-size: 25px;
    border: 1px solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 80%;
}
.content_description
{
    margin-top: 3px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8);
}


* {box-sizing: border-box;}
    .open-button {
      background-color: #BE3455;
      color: rgb(14, 1, 1);
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
    }
    .chat-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: #BE3455;
    }
    .form-container textarea {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
      resize: none;
      min-height: 200px;
    }
    .form-container textarea:focus {
      background-color: #ddd;
      outline: none;
    }
    .form-container .btn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }
    .form-container .cancel {
      background-color: red;
    }
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }