@media (min-width:600px) {
    .addaptive__main-auto {
      flex-grow: 0;
      max-width: none;
      flex-basis: auto;
    }
    .addaptive__main-true {
      flex-grow: 1;
      max-width: 100%;
      flex-basis: 0;
    }
    .addaptive__main-1 {
      flex-grow: 0;
      max-width: 8.333333%;
      flex-basis: 8.333333%;
    }
    .addaptive__main-2 {
      flex-grow: 0;
      max-width: 16.666667%;
      flex-basis: 16.666667%;
    }
    .addaptive__main-3 {
      flex-grow: 0;
      max-width: 25%;
      flex-basis: 25%;
    }
    .addaptive__main-4 {
      flex-grow: 0;
      max-width: 33.333333%;
      flex-basis: 33.333333%;
    }
    .addaptive__main-5 {
      flex-grow: 0;
      max-width: 41.666667%;
      flex-basis: 41.666667%;
    }
    .addaptive__main-6 {
      flex-grow: 0;
      max-width: 50%;
      flex-basis: 50%;
    }
    .addaptive__main-7 {
      flex-grow: 0;
      max-width: 58.333333%;
      flex-basis: 58.333333%;
    }
    .addaptive__main-8 {
      flex-grow: 0;
      max-width: 66.666667%;
      flex-basis: 66.666667%;
    }
    .addaptive__main-9 {
      flex-grow: 0;
      max-width: 75%;
      flex-basis: 75%;
    }
    .addaptive__main-10 {
      flex-grow: 0;
      max-width: 83.333333%;
      flex-basis: 83.333333%;
    }
    .addaptive__main-11 {
      flex-grow: 0;
      max-width: 91.666667%;
      flex-basis: 91.666667%;
    }
    .addaptive__main-12 {
      flex-grow: 0;
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  @media (min-width:960px) {
    .addaptive-auto {
      flex-grow: 0;
      max-width: none;
      flex-basis: auto;
    }
    .addaptive-true {
      flex-grow: 1;
      max-width: 100%;
      flex-basis: 0;
    }
    .addaptive-1 {
      flex-grow: 0;
      max-width: 8.333333%;
      flex-basis: 8.333333%;
    }
    .addaptive-2 {
      flex-grow: 0;
      max-width: 16.666667%;
      flex-basis: 16.666667%;
    }
    .addaptive-3 {
      flex-grow: 0;
      max-width: 25%;
      flex-basis: 25%;
    }
    .addaptive-4 {
      flex-grow: 0;
      max-width: 33.333333%;
      flex-basis: 33.333333%;
    }
    .addaptive-5 {
      flex-grow: 0;
      max-width: 41.666667%;
      flex-basis: 41.666667%;
    }
    .addaptive-6 {
      flex-grow: 0;
      max-width: 50%;
      flex-basis: 50%;
    }
    .addaptive-7 {
      flex-grow: 0;
      max-width: 58.333333%;
      flex-basis: 58.333333%;
    }
    .addaptive-8 {
      flex-grow: 0;
      max-width: 66.666667%;
      flex-basis: 66.666667%;
    }
    .addaptive-9 {
      flex-grow: 0;
      max-width: 75%;
      flex-basis: 75%;
    }
    .addaptive-10 {
      flex-grow: 0;
      max-width: 83.333333%;
      flex-basis: 83.333333%;
    }
    .addaptive-11 {
      flex-grow: 0;
      max-width: 91.666667%;
      flex-basis: 91.666667%;
    }
    .addaptive-12 {
      flex-grow: 0;
      max-width: 100%;
      flex-basis: 100%;
    }
  }