@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar 
{
    width: 0px;
}

body
{
    background-color: rgb(115, 200, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.logo--img
{
    width: auto;
    height: auto;
}
.logo--block
{
    width: 70vh;
    height: 35vh;
}
.btnHeader--block
{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.btn--header
{
    color: rgb(246, 246, 246);
    border: rgb(50, 0, 90) solid 2px;
    background-color: rgb(115, 0, 255);
    width: 20vh;
    height: 4vh;
    outline: none;
    font-size: 0.9em;
    transition: 0.3s;
}
.btn--header:hover , .avt:hover
{
    color: rgb(115, 0, 255);
    background-color: white;
    border-color: rgb(115, 0, 255);
}
.avt
{
    color: rgb(246, 246, 246);
    border:rgb(50, 0, 90) solid 3px;
    background-color: rgb(115, 0, 255);
    height: 4vh;
    font-size: 1.3em;
    border-radius: 1vh;
    transition: 0.3s;
}

.btn--headerFirst
{
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
}
.btn--headerLast
{
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
}

 /* body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43;
    background-color: #fafafa;
  }*/
  .display-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .container__area {
    padding:8px;
    margin: 0;
    box-sizing: border-box;
  }
  .set-center {
    justify-content: center;
  }
  .partners__text {
    color: #48423B;
    padding: 40px 0px 20px 0px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .main__information {
    box-shadow:  0px 8px 16px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    background-color: #fff;
  }
 
  .about {
    color: #48423B;
    padding: 40px;
    font-size: 18px;
    line-height: 24px;
  }
  .offers {
    padding: 120px 0px;
    background: url(sprites/partnerBack.svg);
    background-size: auto 100%;
  }
  
  .offers__interest {
    display: table;
    text-align: center;
  }
  .sprite {
    display: table-cell;
    padding: 0px 55px;
    line-height: 24px;
    vertical-align: middle;
  }
  .sprite > img {
    margin: 25px auto 10px auto;
    display: block;
  }
  .sprite__text {
    color: #e0e0e0d8;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  .column > div {
    padding: 40px;
    font-size: 16px;
    line-height: 24px;
  }
  .column > div > img {
    margin-bottom: 20px;
  }
  .column > div > h4 {
    margin-top: 0px;
    text-transform: uppercase;
  }
  .column__button {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-shadow: none !important;
    box-sizing: border-box;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    text-transform: uppercase;
    margin-left: 10px;
    background-color: #F3C41F;
    padding: 6px 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
    text-transform: uppercase;
  }
  .column__button:hover {
    background-color: #e4bf3b;
  }
  .questions {
    color: #fff;
    padding: 25px 30px;
    overflow: hidden;
    position: relative;
    background: #926a3b;
    margin-top: 40px;
    font-weight: 400;
    border-radius: 10px;
  }
  .tradebutton {
    padding: 35px 25px;
    background: url(sprites/bannerback.svg);
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #F3DA1F;
  }
  .tradebutton-text {
    color: white;
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
  }
  .TextInButton{
    border-radius: 4px;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin-top: 25px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color: #000;
  }
  .TextInButton:hover{
    background-color: #48423B;
  }
  .tradebutton__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

/* Pasha*/
.info {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 125px;
}

.block1 , .block2 {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.block2 {
  background-color: black;
  color: white;
}

.footer {
  border-radius: 15px;
  display: flex;
  background: linear-gradient(100deg, rgb(115, 0, 255) 45%, rgb(50, 0, 90) 55%);
  justify-content: space-evenly;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-right {
  display: flex;
}

.bestChPic {
  width: 225px;
  margin: 10px;
}

.footer-txt {
  margin: 5px;
}

.logo {
  margin: 10px 10px;
  width: 40px;
}

.footer-right_links a {
  text-decoration: none;
  color: rgb(235, 226, 226);
  margin-right: 300px;
  font-size: 18px;
}

.footer-right_links a:hover {
  color: rgb(188, 179, 179);
  transition: .3s;
  text-decoration: underline;
}

.footer-right_links {
  margin: 10px;
}

  .open-button {
    background-color: #BE3455;
    color: rgb(14, 1, 1);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
  }
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #BE3455;
  }
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  .form-container .cancel {
    background-color: red;
  }
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }